#pictures {
  margin: 70px 0;
  padding: 65px 0 0;
   h1 {
    text-align: center;
   }
}

.slider {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;

}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.picture {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
  opacity: 0.8;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 0;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 0;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}



@media only screen and (max-width: 768px) {
  #pictures {
    margin: 20px auto;
    h2 {
      display: none;
    }
  }


  .slider{
    width: 700px;
    height: 700px;
    margin-left: 46px;
  }
}

@media only screen and (max-width: 426px) {
  .pictures{
    margin: 0px auto;
    width: 454px;
  }

  .slider {
    width: 600px;
    height: 600px;
    margin-left: 184px;
  }
}

@media only screen and (max-width: 376px) {
  .slider {
    margin-left: 195px;
  }
}

@media only screen and (max-width: 321px) {
  .slider {
    margin-left: 214px;
  }
}
