@import 'picture_slider';
@import 'navbar';
@import 'map';
@import 'contact';
@import 'review';
@import 'dropdown';



body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin: 0px auto;
  width: 1800px;
  flex-direction: column;
}

.cover-container {
  display: flex;
  justify-content: center;
}


.background_image {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  width: 80%;
  height: 100%;
  margin-top: 1803px;

}


.title-container {
  text-align: center;
  color: rgba(100,100,100, 0.9)
}

.logo :hover {
  cursor: pointer;
}

@media only screen and (max-width:768px) {
    .pic-rev {
      margin: 0px auto;
      width: 790px;
    }

    .background_image{
      height: 71vh;
      margin-top: 2070px;
  }
}
@media only screen and (max-width:426px) {

   .background_image{
    margin-top: 1883px;
    margin-left: 198px;
  }
}
